* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

/* Start - Cards Section*/
.main__article--tarjetas {
  /* padding: 20px; */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: presentacion;
}

.main__form--tarjetas {
  /*padding: 20px; */
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: formulario;
}

.main__grilla--tarjetas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: .7fr 2fr;
      grid-template-rows: .7fr 2fr;
      grid-template-areas: "presentacion" "formulario";
}

.boton__form--tarjetas {
  grid-area: enviar;
}

/* End - Cards Section*/
/* Start - Services Section*/
.grilla__servicios {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "cabecera cabecera" "informacionUno videoUno" "informacionDos videoDos" "informacionTres videoTres";
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: .5fr 2.5fr 2.5fr 2.5fr;
      grid-template-rows: .5fr 2.5fr 2.5fr 2.5fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.main__article--Servicios {
  color: #000000;
  padding: 10px 5px;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cabecera;
}

.articuloUno {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: informacionUno;
}

.articuloDos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: informacionDos;
}

.articuloTres {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: informacionTres;
}

.videoUno {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: videoUno;
}

.videoDos {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: videoDos;
}

.videoTres {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: videoTres;
}

.servicio {
  border: 1px solid;
  text-align: center;
  -webkit-box-shadow: 3px 3px #808080;
          box-shadow: 3px 3px #808080;
  height: auto;
  border-radius: 10px;
}

/* End - Services Section*/
/* Start - Help Section*/
.ul__grid--ayuda {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "preguntaUno" "respuestaUno" "preguntaDos" "respuestaDos" "preguntaTres" "respuestaTres" "preguntaCuatro" "respuestaCuatro";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: center;
  list-style-type: upper-roman;
}

.main__item--h {
  font-size: large;
  font-weight: bold;
}

.preguntaUno {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: preguntaUno;
}

.respuestaUno {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: respuestaUno;
}

.respuestaDos {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: respuestaDos;
}

.respuestaTres {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: respuestaTres;
}

.respuestaCuatro {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: respuestaCuatro;
}

.preguntaDos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: preguntaDos;
}

.preguntaTres {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: preguntaTres;
}

.preguntaCuatro {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: preguntaCuatro;
}

/* End - Help Section*/
.ventana, .sangre, .amarillo {
  background-color: #8ca4e6;
  height: 250px;
  width: 300px;
  border-radius: 40px;
  -webkit-box-shadow: 12px 12px 2px 1px #808080;
          box-shadow: 12px 12px 2px 1px #808080;
}

.sangre {
  background-color: #b60707;
  -webkit-box-shadow: 12px 12px 2px 1px #6b2b2b;
          box-shadow: 12px 12px 2px 1px #6b2b2b;
}

.amarillo {
  background-color: #fcff32;
  -webkit-box-shadow: 12px 12px 2px 1px #c4c263;
          box-shadow: 12px 12px 2px 1px #c4c263;
}

.header {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav nav encabezado";
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191970;
  border: solid 1.5px #02027c;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
}

.header__item {
  display: inline-block;
  border-bottom: 2px solid #02027c;
}

.header__item a {
  display: block;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
}

.header__item:hover {
  background-color: #02027c;
  border-bottom: 2px solid #8ca4e6;
}

.header__h1 {
  color: #fdf5e6;
  /*display: block;
        position: absolute;
        right: 10px;
        top: 15%; */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: encabezado;
}

.main {
  background-color: #fffafa;
  /*padding: 10px;*/
  position: relative;
  /* End - Index and main Section*/
  /* Start - Contact us Section*/
  /*
    .main__visual{
       
       display: inline-block;
       position: relative;
       left: 50%; 
    
    }*/
  /*
    .main__informacion{
        
        display: inline-block;
        width: 30%;
        position: absolute;
        left: 50px; 
        
        
    } */
  /*
    .main__informacion--inv{
        
        display: inline-block;
        width: 30%;
        position: absolute;
        right: 250px; 
        
    } */
  /*
    .main__visual--inv{
        
        display: inline-block;
        position: relative; 
    }*/
}

.main__article {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "imagen informacion";
  grid-column-gap: 10px;
}

.main__img {
  /* position: relative; 
        display: inline-block; */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: imagen;
}

.main__div {
  /*
        position: absolute;
        display: inline;
        padding: 10px;
        color: black; */
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: informacion;
}

.main__h2 {
  display: inline-block;
}

.main__p {
  display: inline-block;
}

.main__contenedor {
  padding: 20px;
  overflow: hidden;
}

.main__titulo {
  font-size: 25px;
  color: black;
}

/* Start - Footer Section*/
.footer {
  /*position: relative;*/
  background-color: midnightblue;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "encabezado encabezado encabezado" "links espacio monedas";
  -ms-grid-columns: 1/3fr 1/3fr auto;
      grid-template-columns: 1/3fr 1/3fr auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-row-gap: 5px;
}

.footer__list {
  display: inline-block;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: links;
}

.footer__item {
  list-style: none;
  color: oldlace;
  padding-left: 30px;
  padding-bottom: 10px;
}

.footer__section {
  color: oldlace;
  padding: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: encabezado;
}

.footer__aside {
  color: oldlace;
  display: inline-block;
  padding-right: 10px;
  /*position: absolute;
        right: 1%;
        top: 20%;*/
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: monedas;
}

hr {
  border: 0.5px solid #f8a483;
}

.grilla__contacto {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "info-comprar info-comprar info-comprar comprarPro comprarPro" "apoyarPro apoyarPro info-apoyar info-apoyar info-apoyar" "info-trabajar info-trabajar info-trabajar trabajarPro trabajarPro" "contacto contacto contacto contacto contacto";
  -ms-grid-columns: 5fr 5fr 5fr 5fr 5fr;
      grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
  -ms-grid-rows: 2.5fr 2.5fr 2.5fr auto;
      grid-template-rows: 2.5fr 2.5fr 2.5fr auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.info-comprar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: info-comprar;
}

.info-apoyar {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: info-apoyar;
}

.info-trabajar {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: info-trabajar;
}

.comprarPro {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: comprarPro;
}

.apoyarPro {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: apoyarPro;
}

.trabajarPro {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: trabajarPro;
}

.div__contacto {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: contacto;
}

.div__contacto ul {
  list-style-type: none;
}

/* End - Contact us Section*/
/*# sourceMappingURL=main.css.map */